node_modules
jobLogs
logs
wa-logs
ICS-logs
RPA-logs
admin-logs
sflogs
maximizer-logs
admin-logs
zipLogs
archives
firebase-service-key
.env
.env.*
.wwebjs_auth
.wwebjs_cache
.local-chromium
chrome-win.zip